/* use a non-serif font */
html {
  font-family: 'verdana', sans-serif;
}

/* get rid of the browser's default margin and padding around the body */
body {
  margin: 0;
  padding: 0;
}

/* absolute position the map container as full screen, leaving 300 pixels on the left */
#map-container {
  position: relative;
  top:0;
  bottom: 400;
  right: 0;
  left: 0;
  margin-top: inherit;


/* make the height of map larger */



  /* min-height: 0px;
   */
  /* -moz-transform: scale(2);
-webkit-transform: scale(1.7);
-o-transform: scale(1.7);
-ms-transform: scale(1.7); */
/* transform: scale(1.5); */
}

h3 {
  margin-top: 0;
  font-size: 1.8rem;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}
.bfmap{
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 30px;
}
/* blue buttons with white bold text */
.flyto-button {
  background: #c0c0c0;
  color: #FFF;
  position:inherit;
  padding: 11px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  margin-bottom:10px;

}
.info-box {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 3;

  /* background-color: #CCC; */
  padding: 0px;
  border-radius: 20px;
  /* box-shadow: 1px 1px 7px #525252; */
  margin-bottom:15px;
}

/* on hover, make the background darker and turn the cursor to a pointer */
button:hover {
  cursor: pointer;
  background-color: #acacac;
}

#feature-info {
  background: #c0c0c0;
  padding: 10px;
  min-height: 150px;
  height:auto;
  opacity: 70%;
  text-align: center;
}

/* sidebar is fixed with and positioned to the left */
#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #0a99c3;
  color: #FFF;
  padding: 25px;
  box-sizing: border-box;
}
